*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg{
  
  overflow: hidden;
  background-repeat: no-repeat;
  width:100.9%;
height:525px;
background-position: center;
background-size: cover;
  position: relative;
}
.loginblock{
  background-color: #add3d5;
  width: 33%;
  position: absolute;
  border-radius: 18px;
  left: 36%;
}
@media(max-width:670px){
  .loginblock{
      left: 12%!important;
      width: 75%!important;
  }
  .bg{
  
      width: 106%;
  }
  .register h6{
      margin-left: 12%!important;
  }    
}
.loginblock button{
  height: 40px;
  font-size: 18px;
  background-color:#276999e3;
  color: white;
  border: none;
  margin-bottom: 10px;
  margin-top: 25px;
}
.loginblock button:hover{
  background-color: rgb(39 105 153);
}
.head h6{
  font-size: 14px;
  padding: 8px 0px 0 75px;
}
.registerlogin{
  height: 350px;
}
.register h1{
  padding: 18px 0px 12px 0;
  text-align: center;
  font-size: 36px;
}
.register .h{
  height: 45px;
}
.register h6{
  font-size: 14px;
  padding-top: 8px;
  margin-left: 25%;
}
.p{
  margin-top: -9px;
  margin-bottom: 1rem;
  font-size: 14px;
}
.bgpro{
  height:450px;
}
.registerpro{
  height: 450px!important;
}
.loginblockpas{
  background-color: #add3d5;
  border-radius: 9px;
}
.icons i {
  color: #0d7459;
}
.icons h6 {
  color: #0d7459;
}